.AddEditInsurance {
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-rows: repeat(6, max-content);
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    color: #1e88e5;
}

.AddEditInsurance label{
    font-weight:900;
}

.AddEditInsurance input{
    width: 17.1rem;
    height: 2rem;
    border: 1px #1e88e5 solid;
    border-radius: 5px;
}

.AddEditInsurance input:focus{
    outline: none;
}

.AddEditInsurance .submit{
    color: white;
    height: 2rem;
    background-color: #1e88e5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}