@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

.App{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px){
  .App{
    display: flex;
    flex-direction: column-reverse;
    }
}
