.Actions {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;
    margin-bottom: 0.9375rem;
    justify-content: space-between;
}
